<div class="field row checkbox"
	 ng-click="setActiveField(field._id, index, true)"
	 ng-if="field.fieldOptions.length > 0"
	 on-enter-key="nextField()">
    <div class="col-xs-12 field-title" ng-style="{'color': design.colors.questionColor}">
		<h3>
			<small class="field-number">
				{{index+1}}
				<i class="fa fa-angle-double-right" aria-hidden="true"></i>
			</small>
			{{field.title}}
			<span class="required-error" ng-show="!field.required && !field.fieldValue">{{ 'OPTIONAL' | translate }}</span>
		</h3>
		<p class="col-xs-12">
			<small>{{field.description}}</small>
		</p>
	</div>
    <div class="col-xs-12 field-input" style="margin-left: -0.3em">
        <div ng-repeat="option in field.fieldOptions" class="row-fluid">
            <label class="btn"
                    style="margin: 0.5em; padding-left:30px; white-space: normal"
                    ng-class="{activeBtn: field.fieldValue.indexOf(option.option_value) > -1 }">
                <input ng-style="{'color': design.colors.answerColor, 'border-color': design.colors.answerColor}"
                    type="checkbox" class="focusOn"
					value="{{option.option_value}}"
					ng-model="field.fieldValue[option.option_id]"
					ng-change="checkboxValidity()"
                    ng-disabled="field.disabled"
					name="{{field._id}}"
					ng-required="!someSelected(field.fieldValue)"
		        	ng-focus="setActiveField(field._id, index, true)" />

                <span ng-bind="option.option_value" style="white-space: normal"></span>
            </label>
        </div>
    </div>
</div>

<div>
	<div class="btn btn-lg btn-default hidden-xs"
	 	style="padding: 4px; margin-top:8px; background: rgba(255,255,255,0.5)">
			<button ng-disabled="forms.myForm.{{field.fieldType}}{{$index}}.$invalid"
				ng-style="{'background-color':design.colors.buttonColor, 'color':design.colors.buttonTextColor}"
				style="float: left;"
                ng-click="$root.nextField()"
				class="btn">

				{{ 'OK' | translate }} <i class="fa fa-check"></i>
			</button>
	</div>
</div>
