<div class="field row checkbox"
	 ng-click="setActiveField(field._id, index, true)"
	 ng-if="field.fieldOptions.length > 0"
	 on-enter-key="nextField()">
	 <div class="col-xs-12 field-title" ng-style="{'color': design.colors.questionColor}">
 		<h3>
 			<small class="field-number">
 				{{index+1}}
 				<i class="fa fa-angle-double-right" aria-hidden="true"></i>
 			</small>
 			{{field.title}}
 			<span class="required-error" ng-show="!field.required && !field.fieldValue">{{ 'OPTIONAL' | translate }}</span>
 		</h3>
 		<p class="col-xs-12">
 			<small>{{field.description}}</small>
 		</p>
 	</div>

    <div class="col-xs-12 field-input">
        <div ng-repeat="option in field.fieldOptions">
		    <div class="col-xs-12 field-title" ng-style="{'color': design.colors.questionColor}">
			    <h4>{{option.option_title}}</h4>
		    </div>
            <input-stars max="5"
				ng-focus="setActiveField(field._id, index, true)"
				icon-full="fa-star"
				icon-base="fa fa-3x"
				icon-empty="fa-star-o"
				ng-model="field.fieldValue[option.option_id]"
				ng-model-options="{ debounce: 250 }"
				ng-required="field.required"
				ng-disabled="field.disabled"
				class="angular-input-stars focusOn">
			</input-stars>
        </div>
    </div>
</div>

<div>
	<div class="btn btn-lg btn-default col-sm-2 col-xs-4"
	 	style="padding: 4px; margin-top:8px; background: rgba(255,255,255,0.5)">
			<button ng-disabled="!field.fieldValue || forms.myForm.{{field.fieldType}}{{$index}}.$invalid"
				ng-style="{'background-color':design.colors.buttonColor, 'color':design.colors.buttonTextColor}"
                ng-click="$root.nextField()"
				class="btn col-sm-12 col-xs-12">

				{{ 'OK' | translate }} <i class="fa fa-check"></i>
			</button>
	</div>
</div>
